  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .chart-container {
    max-width: 800px;
    width: 100%;
    margin: auto;
  }
  